[submodule "Shannon-Fano_Coding"]
	path = Shannon-Fano_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Shannon-Fano_Coding.git
[submodule "Huffman_Coding"]
	path = Huffman_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Huffman_Coding.git
[submodule "Arithmetic_Coding"]
	path = Arithmetic_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Arithmetic_Coding.git
[submodule "Probabilistic_Models"]
	path = Probabilistic_Models
	url = git@github.com:vicente-gonzalez-ruiz/Probabilistic_Models.git
[submodule "Geometric_Distribution_Coding"]
	path = Geometric_Distribution_Coding
	url = git@github.com:vicente-gonzalez-ruiz/Geometric_Distribution_Coding.git
